<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text-muted"> &copy fevrier 2024 </p>
			</div>
			<div class="col-md-8 text-md-center">
				<span  class="px-2">fiarmasome@gmail.com</span>
				<span  class="px-2">+226 67489187</span>
				<span  class="px-2">Karpala City</span>
			</div>
			<div class="col-md-2 text-md-right text-muted">
				<!--<i class="fab fa-lg fa-cc-visa"></i>
				<i class="fab fa-lg fa-cc-paypal"></i>
				<i class="fab fa-lg fa-cc-mastercard"></i>-->
				<p>AfriShop, La Reference !</p>
			</div>
		</section>
	</div><!-- //container -->
</footer>

<script src="https://ajax.googleapis.co m/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--=========Script pour l'affichage des images-->
<script type="">
	$(document).ready(function(){
		$('.thumb a').click(function(e){
		e.preventDefault();
		$('.mainImage img').attr('src',$(this).attr("href"));
	})
	})	
</script>

</body>
</html>